body {
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #e7e8bc;
    justify-content: center;
    text-align: center;
}

.login-container {
    background-color: #f4f4d7;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* hauteur disponible sans toucher au header */
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #7e9ad7;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.login-container button:hover {
    background-color: #7789b1;
    opacity: 0.3;
}
.login-remark {
    font-size: 0.8em;      /* Petite écriture */
    color: #6c757d;       /* Couleur discrète (gris) */
    margin-top: -10px;    /* Un peu moins d'espace en haut */
    margin-bottom: 20px;  /* Espace avant le titre "Login" */
}

.login-container h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}
.sun-inline {
    position: absolute;
    top: 17px;
    right: -35px;
    width: 60px;
}

.sun-inline img {
    width: 100%;
}

.paper-inline {
    position: absolute;
    top: 150px;
    right: 510px;
    width: 70px;
}

.paper-inline img {
    width: 100%;
}


.login-icon {
    position: absolute;
    bottom: 45px;
    left: 400px;
    width: 250px;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes float1 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.paper-inline{
    animation-name: float;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.login-icon{
    animation-name: float1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* Styling for the autocomplete suggestions list */
#suggestions {
    position: relative;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}
#suggestions li:hover {
    background-color: #f0f0f0;
}