/* === MODE JOUR === */

body {
    background-color: #f0f0e7;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Centre verticalement même avec le header */
main {
    min-height: calc(100vh - 80px); /* 80px si ton header = 70px + marge */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---------- Formulaire ---------- */

.login-container {
    background-color: #f7f7f2;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* bouton */

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #7e9ad7;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    background-color: #607bbb;
}

/* Suggestions auto */

#suggestions {
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    border-radius: 5px;
    padding: 0;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}
