figure{
    transform-origin: top;
    transform: scale(0.8);
}
img{
    border-radius: 15px;
}
section{
    background: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
}
h3 {
    background: #f2f2f2;
    padding: 8px 14px;
    border-left: 4px solid #81a3f6;
    border-radius: 6px;
    font-size: 1.1rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px; /* espace entre l’emoji et le texte */
    margin-bottom: 8px;
}

h3 .material-icons {
    font-size: 18px; /* ou 16px, 20px… */
}